{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="text-center container mt-5">
    <h1><img src="{% static 'img/books.png'%}" class="logo" alt="books image" ></img> S'Library</h1>
    <div class="container mt-5">
        <form action="">
            <input id="myInput" class="form-control" type="search" placeholder="Title / Author / Publisher">
        </form>
    </div>
    <div class="table-responsive mt-5">
        <table class=" table table-light table-hover">
                <thead class = "thead">
                <tr class="text-center">
                    <th scope="col" class="align-middle">No</th>
                    <th scope="col" class="align-middle">Cover</th>
                    <th scope="col" class="align-middle">Title</th>
                    <th scope="col" class="align-middle">Author</th>
                    <th scope="col" class="align-middle">Published Date</th>
                    <th scope="col" class="align-middle">Publisher</th>
                    <th scope="col" class="align-middle">Category</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    </div>

{% endblock body %}