* {
    animation: fade-in 1s;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}


@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

h1{
    text-align: left;
    font-weight: bold;
    letter-spacing: 3px;
}

.logo{
    width: 15vh;
    height: auto;
}

.thead{
    background: #CCE6FF;
    color: #333333;
}